* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid; */
}

:root {
    --color1: rgb(244, 247, 246);
    --color2: rgba(223, 228, 228, 0.829);
    --color3: rgba(75, 75, 75, 0.678);
    --color4: rgb(139, 148, 150);
}
.app {
    /* overflow: hidden; */
}
.main-page {
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    background-color: var(--color1);
    gap: 30px;
    overflow-y: scroll;
}
.main-page-left {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 10px;
    height: max-content;
}
.main-page-header {
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
}
.main-page-header a {
    text-decoration: none;
    color: var(--color3);
    font-size: 1.05rem;
}
.left-card {
    width:350px;
    padding: 10px;
    max-width: 95vw;
    height:70vh;
    background-image: url('../images/bgc1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 1px 4px rgba(46, 46, 46, 0.726);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.card-header {
    height:max-content;
    max-height: 12vh;
    font-size: 2.3rem;
    font-family: geneva;
    font-weight:900;
    display:flex;
    justify-content: start;
    align-items: center;
}
.card-title {
    margin-bottom: 20px;
}
.card-body {
    height: max-content;
    max-height: 45vh;
    text-align: left;
    font-size: 1.4rem;
    padding-right: 20px;
    overflow-y: scroll;
}
.right-card {
    height: 70vh;
    display: flex;
    justify-content: end;   
}
.right-card img {
    width: 350px;
    max-width: 95vw;
    max-height: inherit;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 2px 3px 5px gray;
}
.bottom-card {
    height: 40vh;
    /* width: 350px; */
    /* max-width: 95vw; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
    justify-content: space-around;
    background-color: var(--color2);
}
.bottom-card button {
    height: 6vh;
    width:150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-feedback {
    background-color: black;
    color: white;
    font-size: 1.02rem;
    letter-spacing: 1px;
}
.btn-download {
    background-color: rgba(240, 13, 13, 0.89);
    font-size: 1.02rem;
}
.return-feedback {
    position: fixed;
    left: 0;
    right: 0;
    top: 20vh;
    height:50vh;
    width:350px;
    max-width: 90vw;
    margin: 0 auto;
    background-color: var(--color4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.return-feedback header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}
.return-feedback header button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.return-feedback header button:hover {
    background-color: black;
    color:white;
}
#feedback-text {
    height: 30vh;
    width: 90%;
    margin: 0 auto;
    padding: 2px;
    outline: none;
}
.send {
    width: 120px;
    height:8vh;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}
.send:hover {
    background-color: black;
    color:white;
}
.return-feedback p {
    margin-left: 10px;
    margin-bottom: 1vh;
    color: rgb(255, 238, 0);
    font-size: 1.1rem;
    letter-spacing: 1px;
}